In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read excel sheet
file_name = "Resources\Characteristics of successful and unsuccessful job search experience.xls"
df = pd.read_excel(file_name, sheet_name="Table 13.1")
df

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,"6226.0 Participation, Job Search and Mobility,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Released at 11:30 am (Canberra time) Mon 10 Au...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Table 13.1 Characteristics of successful and u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,UNEMPLOYED PERSONS,NaN,NaN,EMPLOYED PERSONS WHO STARTED THEIR CURRENT JOB...,NaN,NaN
4,NaN,NaN,Males,Females,Persons,Males,Females,Persons
5,NaN,NaN,'000,'000,'000,'000,'000,'000
6,State or territory of usual residence,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,New South Wales,NaN,112.946,89.7856,202.731,365.634,377.108,742.741
8,Victoria,NaN,94.1906,91.9458,186.136,353.388,326.055,679.443
9,Queensland,NaN,87.2353,68.5193,155.755,241.421,216.822,458.242
10,South Australia,NaN,29.7647,24.7174,54.4821,74.7801,77.8148,152.595
11,Western Australia,NaN,42.1397,35.491,77.6307,138.513,119.396,257.91
12,Tasmania,NaN,7.8995,6.74826,14.6478,24.3645,20.6541,45.0186
13,Northern Territory,NaN,3.39136,3.36226,6.75362,11.8221,12.6121,24.4342
14,Australian Capital Territory,NaN,3.33979,4.10751,7.4473,22.5236,25.4057,47.9293
15,Age group (years),NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,15–24,NaN,159.565,121.044,280.609,380.401,385.679,766.081
17,25–34,NaN,74.5942,66.5393,141.134,367.451,351.867,719.318
18,35–44,NaN,51.6457,50.0733,101.719,241.446,210.001,451.446
19,45–54,NaN,44.4789,47.3689,91.8478,142.726,137.576,280.302
20,55–64,NaN,43.4999,35.0486,78.5486,87.6219,80.6532,168.275
21,65 and over,NaN,7.1226,4.60279,11.7254,12.7998,10.0913,22.8911
22,Number of employers or businesses in the last ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,None,NaN,211.645,208.351,419.996,. .,. .,. .
24,One,NaN,129.612,92.0634,221.676,583.599,601.475,1185.07
25,Two,NaN,30.8143,18.6013,49.4156,517.328,453.569,970.897
26,Three,NaN,5.28777,3.14844,8.43621,89.8201,94.1135,183.934
27,Four or more,NaN,3.5474,2.5131,6.06049,41.6989,26.71,68.4089
28,All steps taken to look for work or more hours...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Asked current employer for more work,NaN,. .,. .,. .,56.3307,83.3748,139.706
30,"Wrote, phoned or applied in person to an emplo...",NaN,311.961,274.013,585.974,168.218,174.033,342.251
31,Answered an advertisement for a job on the Int...,NaN,264.629,236.11,500.739,152.015,156.747,308.762
32,Had an interview with an employer,NaN,153.61,131.137,284.747,112.477,110.469,222.946
33,Contacted friends or relatives,NaN,223.147,156.305,379.452,111.756,116.002,227.758
34,Took steps to purchase or start up own business,NaN,14.898,14.8405,29.7385,20.8906,23.0163,43.9069
35,Advertised or tendered for work / attain a job,NaN,43.6254,34.8049,78.4302,30.5933,31.0773,61.6706
36,Checked or registered with a jobactive Austral...,NaN,138.412,111.015,249.426,44.8165,39.0369,83.8534
37,Checked or registered with any other employmen...,NaN,95.6774,73.1457,168.823,61.0947,51.6088,112.703
38,Looked at advertisements for jobs on the Inter...,NaN,318.998,282.66,601.658,187.985,208.895,396.88
39,Registered with Centrelink as a job seeker,NaN,140.688,105.748,246.435,32.1942,24.2704,56.4646
40,Other steps,NaN,87.7949,71.7752,159.57,54.2424,63.2519,117.494
41,Did not take steps to look for work or more ho...,NaN,7.90762,10.8608,18.7684,1007.9,932.35,1940.25
42,Level of highest non-school qualification,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,With non-school qualifications,NaN,181.592,181.451,363.043,793.91,793.711,1587.62
44,Postgraduate degree,NaN,24.4093,22.7573,47.1666,111.44,118.093,229.533
45,Graduate diploma/Graduate certificate,NaN,7.23477,5.17038,12.4052,28.185,38.7648,66.9498
46,Bachelor degree,NaN,44.3071,53.8344,98.1415,231.362,320.996,552.359
47,Advanced diploma/Diploma,NaN,25.3239,29.4286,54.7525,99.2267,114.863,214.089
48,Certificate III/IV,NaN,53.9952,51.4184,105.414,258.435,151.836,410.271
49,Certificate I/II,NaN,14.8593,14.031,28.8902,31.1049,28.1731,59.278
50,Certificate not further defined,NaN,6.71545,2.38742,9.10287,8.60905,7.60267,16.2117
51,Level not determined,NaN,4.74737,2.42332,7.17069,25.5462,13.3831,38.9293
52,Without non-school qualifications,NaN,199.314,143.226,342.541,438.537,382.156,820.692
53,Total,NaN,380.907,324.677,705.584,1232.45,1175.87,2408.31
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,. .,not available / not applicable,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,© Commonwealth of Australia 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN