In [1]:
# import dependencies
import pandas as pd
from pandas import DataFrame, read_csv

In [2]:
# read file
vacancies_file = "Resources/Job vacancies state and territories.xls"
vacancies_df = pd.read_excel(vacancies_file, 'Data1')
vacancies_df.tail(10)

,Unnamed: 0,Job Vacancies ; New South Wales ;,Job Vacancies ; Victoria ;,Job Vacancies ; Queensland ;,Job Vacancies ; South Australia ;,Job Vacancies ; Western Australia ;,Job Vacancies ; Tasmania ;,Job Vacancies ; Northern Territory ;,Job Vacancies ; Australian Capital Territory ;,Job Vacancies ; Australia ;,...,Job Vacancies ; Australia ;.2,Standard Error of Job Vacancies ; New South Wales ;,Standard Error of Job Vacancies ; Victoria ;,Standard Error of Job Vacancies ; Queensland ;,Standard Error of Job Vacancies ; South Australia ;,Standard Error of Job Vacancies ; Western Australia ;,Standard Error of Job Vacancies ; Tasmania ;,Standard Error of Job Vacancies ; Northern Territory ;,Standard Error of Job Vacancies ; Australian Capital Territory ;,Standard Error of Job Vacancies ; Australia ;
166,2018-08-15 00:00:00,79.6,66.2,34.6,11.7,25.9,3,3.6,6.7,231.3,...,NaN,4.5,4.2,3.5,1.6,2.4,0.5,0.6,0.6,7.8
167,2018-11-15 00:00:00,83.5,61.6,37.7,10.7,26.8,3.6,3.8,7,234.7,...,NaN,4.2,3.9,3.5,1.5,2.4,0.4,0.7,0.7,7.8
168,2019-02-15 00:00:00,84,64.1,36.6,9.4,27.5,3,3.6,6.6,234.7,...,NaN,5.1,5.1,3,1,2.8,0.3,0.7,0.6,8.2
169,2019-05-15 00:00:00,77.2,60.1,33.2,11.2,23.2,3.3,4.2,6.7,219.1,...,NaN,4.8,3.9,2.6,1.4,1.9,0.4,0.9,0.8,7
170,2019-08-15 00:00:00,72.8,61.2,39.1,11.3,26.4,3.6,4.3,7.6,226.3,...,NaN,3.9,4,3.2,1.3,2.1,0.5,0.6,0.7,7.1
171,2019-11-15 00:00:00,80.2,60.1,39.2,11.4,25.7,3.6,3.5,7.7,231.4,...,NaN,5.4,4.2,3.1,1.3,2.4,0.4,0.5,1,8.1
172,2020-02-15 00:00:00,79.3,59.7,38.4,11.7,27.6,3.4,2.9,6.6,229.5,...,NaN,4.6,3.6,3.2,1.4,2.7,0.4,0.3,0.9,7.6
173,2020-05-15 00:00:00,39.8,28.7,25.2,6.8,16.8,1.9,1.7,3.6,124.5,...,NaN,3.1,2.9,3.2,0.8,2,0.4,0.2,0.4,5.6
174,2020-08-15 00:00:00,62.2,45.8,42.1,12.5,32.2,3.4,4.2,5.6,208,...,NaN,4,3.7,3.8,1.3,3.4,0.4,0.7,0.5,8.1
175,2020-11-15 00:00:00,82.7,58.4,47.9,15.6,37.4,5.1,4.2,7.9,259.2,...,NaN,5.6,4.2,3.6,1.5,3.2,1,0.6,1,7.8

In [3]:
# drop rows on the top to narrow down analysis time period
vacancies_df.drop(vacancies_df.index[0:168],0,inplace=True)
vacancies_df

,Unnamed: 0,Job Vacancies ; New South Wales ;,Job Vacancies ; Victoria ;,Job Vacancies ; Queensland ;,Job Vacancies ; South Australia ;,Job Vacancies ; Western Australia ;,Job Vacancies ; Tasmania ;,Job Vacancies ; Northern Territory ;,Job Vacancies ; Australian Capital Territory ;,Job Vacancies ; Australia ;,...,Job Vacancies ; Australia ;.2,Standard Error of Job Vacancies ; New South Wales ;,Standard Error of Job Vacancies ; Victoria ;,Standard Error of Job Vacancies ; Queensland ;,Standard Error of Job Vacancies ; South Australia ;,Standard Error of Job Vacancies ; Western Australia ;,Standard Error of Job Vacancies ; Tasmania ;,Standard Error of Job Vacancies ; Northern Territory ;,Standard Error of Job Vacancies ; Australian Capital Territory ;,Standard Error of Job Vacancies ; Australia ;
168,2019-02-15 00:00:00,84,64.1,36.6,9.4,27.5,3,3.6,6.6,234.7,...,NaN,5.1,5.1,3,1,2.8,0.3,0.7,0.6,8.2
169,2019-05-15 00:00:00,77.2,60.1,33.2,11.2,23.2,3.3,4.2,6.7,219.1,...,NaN,4.8,3.9,2.6,1.4,1.9,0.4,0.9,0.8,7
170,2019-08-15 00:00:00,72.8,61.2,39.1,11.3,26.4,3.6,4.3,7.6,226.3,...,NaN,3.9,4,3.2,1.3,2.1,0.5,0.6,0.7,7.1
171,2019-11-15 00:00:00,80.2,60.1,39.2,11.4,25.7,3.6,3.5,7.7,231.4,...,NaN,5.4,4.2,3.1,1.3,2.4,0.4,0.5,1,8.1
172,2020-02-15 00:00:00,79.3,59.7,38.4,11.7,27.6,3.4,2.9,6.6,229.5,...,NaN,4.6,3.6,3.2,1.4,2.7,0.4,0.3,0.9,7.6
173,2020-05-15 00:00:00,39.8,28.7,25.2,6.8,16.8,1.9,1.7,3.6,124.5,...,NaN,3.1,2.9,3.2,0.8,2,0.4,0.2,0.4,5.6
174,2020-08-15 00:00:00,62.2,45.8,42.1,12.5,32.2,3.4,4.2,5.6,208,...,NaN,4,3.7,3.8,1.3,3.4,0.4,0.7,0.5,8.1
175,2020-11-15 00:00:00,82.7,58.4,47.9,15.6,37.4,5.1,4.2,7.9,259.2,...,NaN,5.6,4.2,3.6,1.5,3.2,1,0.6,1,7.8

In [4]:
# rename columns
vacancies_df.columns = ['Date', 'NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT', 'Australia', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21']
vacancies_df

,Date,NSW,VIC,QLD,SA,WA,TAS,NT,ACT,Australia,...,12,13,14,15,16,17,18,19,20,21
168,2019-02-15 00:00:00,84,64.1,36.6,9.4,27.5,3,3.6,6.6,234.7,...,NaN,5.1,5.1,3,1,2.8,0.3,0.7,0.6,8.2
169,2019-05-15 00:00:00,77.2,60.1,33.2,11.2,23.2,3.3,4.2,6.7,219.1,...,NaN,4.8,3.9,2.6,1.4,1.9,0.4,0.9,0.8,7
170,2019-08-15 00:00:00,72.8,61.2,39.1,11.3,26.4,3.6,4.3,7.6,226.3,...,NaN,3.9,4,3.2,1.3,2.1,0.5,0.6,0.7,7.1
171,2019-11-15 00:00:00,80.2,60.1,39.2,11.4,25.7,3.6,3.5,7.7,231.4,...,NaN,5.4,4.2,3.1,1.3,2.4,0.4,0.5,1,8.1
172,2020-02-15 00:00:00,79.3,59.7,38.4,11.7,27.6,3.4,2.9,6.6,229.5,...,NaN,4.6,3.6,3.2,1.4,2.7,0.4,0.3,0.9,7.6
173,2020-05-15 00:00:00,39.8,28.7,25.2,6.8,16.8,1.9,1.7,3.6,124.5,...,NaN,3.1,2.9,3.2,0.8,2,0.4,0.2,0.4,5.6
174,2020-08-15 00:00:00,62.2,45.8,42.1,12.5,32.2,3.4,4.2,5.6,208,...,NaN,4,3.7,3.8,1.3,3.4,0.4,0.7,0.5,8.1
175,2020-11-15 00:00:00,82.7,58.4,47.9,15.6,37.4,5.1,4.2,7.9,259.2,...,NaN,5.6,4.2,3.6,1.5,3.2,1,0.6,1,7.8

In [5]:
# narrow down column selection
vacancies_state = vacancies_df[['Date', 'NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT']].copy()
vacancies_state

                    Date   NSW   VIC   QLD    SA    WA  TAS   NT  ACT
168  2019-02-15 00:00:00    84  64.1  36.6   9.4  27.5    3  3.6  6.6
169  2019-05-15 00:00:00  77.2  60.1  33.2  11.2  23.2  3.3  4.2  6.7
170  2019-08-15 00:00:00  72.8  61.2  39.1  11.3  26.4  3.6  4.3  7.6
171  2019-11-15 00:00:00  80.2  60.1  39.2  11.4  25.7  3.6  3.5  7.7
172  2020-02-15 00:00:00  79.3  59.7  38.4  11.7  27.6  3.4  2.9  6.6
173  2020-05-15 00:00:00  39.8  28.7  25.2   6.8  16.8  1.9  1.7  3.6
174  2020-08-15 00:00:00  62.2  45.8  42.1  12.5  32.2  3.4  4.2  5.6
175  2020-11-15 00:00:00  82.7  58.4  47.9  15.6  37.4  5.1  4.2  7.9

In [6]:
# check data types
vacancies_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 168 to 175
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8 non-null      object
 1   NSW     8 non-null      object
 2   VIC     8 non-null      object
 3   QLD     8 non-null      object
 4   SA      8 non-null      object
 5   WA      8 non-null      object
 6   TAS     8 non-null      object
 7   NT      8 non-null      object
 8   ACT     8 non-null      object
dtypes: object(9)
memory usage: 352.0+ bytes

In [7]:
# convert obbjects to date and float
vacancies_state[['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT']] = vacancies_state[['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT']].apply(pd.to_numeric, errors='coerce')
vacancies_state['Date'] = pd.to_datetime(vacancies_state['Date'])
vacancies_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 168 to 175
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8 non-null      datetime64[ns]
 1   NSW     8 non-null      float64
 2   VIC     8 non-null      float64
 3   QLD     8 non-null      float64
 4   SA      8 non-null      float64
 5   WA      8 non-null      float64
 6   TAS     8 non-null      float64
 7   NT      8 non-null      float64
 8   ACT     8 non-null      float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 640.0 bytes

In [8]:
# view the dataframe
vacancies_state

          Date   NSW   VIC   QLD    SA    WA  TAS   NT  ACT
168 2019-02-15  84.0  64.1  36.6   9.4  27.5  3.0  3.6  6.6
169 2019-05-15  77.2  60.1  33.2  11.2  23.2  3.3  4.2  6.7
170 2019-08-15  72.8  61.2  39.1  11.3  26.4  3.6  4.3  7.6
171 2019-11-15  80.2  60.1  39.2  11.4  25.7  3.6  3.5  7.7
172 2020-02-15  79.3  59.7  38.4  11.7  27.6  3.4  2.9  6.6
173 2020-05-15  39.8  28.7  25.2   6.8  16.8  1.9  1.7  3.6
174 2020-08-15  62.2  45.8  42.1  12.5  32.2  3.4  4.2  5.6
175 2020-11-15  82.7  58.4  47.9  15.6  37.4  5.1  4.2  7.9

In [9]:
# set values to actual amount
vacancies_state[['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT']] = vacancies_state[['NSW', 'VIC', 'QLD', 'SA', 'WA', 'TAS', 'NT', 'ACT']] * 1000
vacancies_state.reset_index(drop=True, inplace=True)
vacancies_state

,Date,NSW,VIC,QLD,SA,WA,TAS,NT,ACT
0,2019-02-15,84000.0,64100.0,36600.0,9400.0,27500.0,3000.0,3600.0,6600.0
1,2019-05-15,77200.0,60100.0,33200.0,11200.0,23200.0,3300.0,4200.0,6700.0
2,2019-08-15,72800.0,61200.0,39100.0,11300.0,26400.0,3600.0,4300.0,7600.0
3,2019-11-15,80200.0,60100.0,39200.0,11400.0,25700.0,3600.0,3500.0,7700.0
4,2020-02-15,79300.0,59700.0,38400.0,11700.0,27600.0,3400.0,2900.0,6600.0
5,2020-05-15,39800.0,28700.0,25200.0,6800.0,16800.0,1900.0,1700.0,3600.0
6,2020-08-15,62200.0,45800.0,42100.0,12500.0,32200.0,3400.0,4200.0,5600.0
7,2020-11-15,82700.0,58400.0,47900.0,15600.0,37400.0,5100.0,4200.0,7900.0

In [10]:
# print table to csv
vacancies_state.to_csv('jobvacancies_states.csv')